.App {
  /* text-align: center; */
  height: 100vh;
}



.containers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}



.container {
  background: #fff;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-top: 3px solid purple;
  border-radius: 2px;
  width: 350px
}

.container-title {
  text-transform: uppercase;
  text-align: start;
  font-size: 1em;
  font-weight: 500;
}

hr {
  border-top: 1px dotted #000;
  background: transparent;
}


img {
  width: 350px
}

h3 {
  /* width: 80%; */
  /* white-space: wrap; */
  color: #1abfed
}

p {
  font-style: italic;
}

a {
  text-decoration: none;
  color: #1abfed
}

h4 {
  font-weight: 300
}